@{
    ViewData["Title"] = "TalkApiClient";
}

<table class="table table-striped">
    <tr>
        <th>Lists</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Show all channels", "ListChatChannels")
        </td>
        <td>
            @Html.ActionLink("Make a new channel", "CreateChatChannel")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Show all messages from all channels", "ListChatMessages")
        </td>
        <td>
            @Html.ActionLink("Send a new message to specific channel", "CreateChatMessage")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Show all messages from a specific channel", "MessagesByChannel")
        </td>
        <td>

        </td>
</tr>
</table>



